.main-container .simulation-success #success-toggle,
.main-container .simulation-error #error-toggle {
    position: absolute;
    display: none;
}

.main-container .simulation-success :checked ~ .success-dropdown,
.main-container .simulation-error :checked ~ .error-dropdown {
    rotate: 180deg !important;
}

.main-container .simulation-success .success-dropdown,
.main-container .simulation-error .error-dropdown {
    transition: all 0.4s ease-in-out;
}
